<!-- <!doctype html> -->
<html>
<head>
<meta charset="utf-8">
<title>Tribe Report</title>

<link rel="stylesheet" type="text/css" href="/css/base.css">
<script src="/javascripts/tribe.js"></script>


<!-- First include jquery js -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



<!-- validate.js-->
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="color: white;" class="navbar-brand" >Tribe Report</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul id="navcont" class="nav navbar-nav">
            <li ><a style="color: white;" href="/feed">Feed</a></li>
            <li><a style="color: white;" href="/post" >Post</a></li>
            {{#if user}}
            <li ><a style="color: white;"href="/logout">Logout</a></li>
            {{else}}
            <li ><a style="color: white;"href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
    </nav>

    
<div class="some-space"></div>
  <br/>
  <p>
    {{#if user}}
<h5>Welcome esteemed member of the {{user.username}} tribe!</h5>
{{/if}}
{{{ body }}}
</p>
  </div>
</body>
</html>

<!-- </html> -->