
<body>
<div class="container">
   
    <h2 class="text-center">POST YOUR FIND</h2>
   <form class="form-horizontal" onsubmit="return isValidURL()" method="POST" action="/post">
      <div class="form-group">

         <label class="control-label col-sm-2" for="email">Name:</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="name"  name="name">
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="pwd">Title:</label>
         <div class="col-sm-10">          
            <input type="text" class="form-control" id="title" name="title">
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" id="toDisplay" for="pwd">Link: </label>
         <div class="col-sm-10" >          
            <input type="text" class="form-control" id="link" placeholder="Valid URL ONLY" name="link">
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="pwd">Comment:</label>
         <div class="col-sm-10">          
            <input type="text" class="form-control" id="comment" placeholder="Let it all out!" name="comment">
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submitbtn" class="btn btn-post" onlick="isValidURI()">Submit</button>
         </div>
      </div>
   </form>
</div>


 </body>
