<!-- https://gist.github.com/ozee/3994331 -->

<div class="container" id="register">
<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div id="legend">
            <legend class="">Register  </legend>
            {{#if message}}
            <br> <p style=" color: red;">{{message}} </p></br>
            {{/if}}
        </div>
        <div class="control-group">
            <label class="control-label" for="username">Family Name</label>
            <div class="controls">
                <input type="text" id="username" name="familyname" placeholder="" class="input-xlarge" style="background-color: #FAFFBD;">
                
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email"> Family Username</label>
            <div class="controls">
                <input type="text" id="email" name="username" placeholder="" class="input-xlarge" style="background-color: #FAFFBD;">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" style="background-color: #FAFFBD;">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Register" class="btn btn-success"></input>
            </div>
        </div>
    </fieldset>
</form>

 <div class="card" align="center">
  <div class="card-body">
    <h5 class="card-title">Family has an account? <a href="/login">Login Here!</a></h5>
  
  </div>
</div>