#navbar{
  background-color: black;
}
#navcont{
  color:white;
}
.legend{
  font-size:30px;
}
h5{
  font-size: 18px;
}

#link, #comment, #name, #title{
  background-color: #F5F5DC;
}

#login,#register{
  background-color: #F5F5F5;
}

#bootstrap-overrides body{
	background-color:AliceBlue;
}
.timeline-body {
  background-color: #F5F5F5;
}
.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

.some-space{
	padding-bottom: 30px;
}


.form-horizontal .control-label.text-left{
    text-align: left;
}
p0{
  font-size: 26px;
}
p1{
	font-size: 25px;
}
p2{
    font-size: 23px;
}
.timeline-title{
  font-size: 30px;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

.signin {
  text-align: center;
}
#filter{
    size:12px;
    text-align: left;
}

#filterform {
    align:left;
}

#takebtn,#filterbtn,#submitbtn{
  background-color: black;
  color:white;
}

#no work{
  color:red;
}